/*****************************
        COLOR PALETTE 
******************************/
:root{
    --blue: #3535ec;
    --dark-blue: #120945;
    --gray: #d4d7f5;
    --green: #306753;
    --pink: #de7eb6;
    --yellow: #f2ad41;
    --white: #ffffff;
}
/*****************************
        CSS RESET
******************************/  
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
/*****************************
        UTILITIES
******************************/
body{
    font-family: 'Livvic', Arial, Helvetica, sans-serif;
    background-color: var(--gray);
}
.container{
        max-width: 500px;
        margin: 0 auto;
}
h1{
        color: var(--yellow);
        padding: 16px;
        font-size: 30px;
        font-weight: 600;
        line-height: 1;
}
/*****************************
        HEADER
******************************/
.header-top{
        height: 130px;
        background-color: var(--dark-blue);
        background-image: url('../images/lights.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
}
.header-bottom{
        height: 50px;
        background-color: var(--blue);
        border-radius: 0 0 15px 15px;
}
/*****************************
        MAIN
******************************/